---
layout: layouts/base.njk
---
<h3 style="padding-left:30px;"></h3>
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p style="padding-left:30px;">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
