---
layout: layouts/base.njk
---
<div class="card">
  <h2 class="card-title">
    It was going to rain
  </h2>
  <p>
    The weather forecast didn't say that, but the steel plate in his hip did. He had learned over the years to trust his hip over the weatherman. It was going to rain, so he better get outside and prepare...
  </p>
  <div class="text-right"> <!-- text-right = text-align: right -->
    <a href="#" class="btn">Read more</a>
  </div>
</div>
