{% for post in postslist | reverse %}
<div class="card">
<h2 class="card-title">
{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
</h2>
<p>
{{ post.description }}
</p>
<span class="badge">
 <i class="fa fa-comments text-primary mr-5" aria-hidden="true"></i> 5 comments <!-- text-primary = color: primary-color, mr-5 = margin-right: 0.5rem (5px) -->
</span>
  <div class="text-right">
    <a href="{{ post.url | url }}" class="btn">Read more</a>
  </div>
</div>
{% endfor %}