<!DOCTYPE html>
<html>
  <head>
    <!-- Require external JS files -->
    <script src="js/vue.js"></script>
    <!-- Require external CSS files -->
    <link rel="stylesheet" href="css/tailwind.css" />
  </head>
  <body>
    <header>
      <!-- Start navbar -->

      <!-- End navbar -->
    </header>
  </body>
</html>
