<!DOCTYPE html>
<html>
    <head>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="HandheldFriendly" content="true" />
        <!-- Require external JS files -->
        <script src="js/halfmoon.js"></script>
        <!-- Require external CSS files -->
        <link rel="stylesheet" href="css/halfmoon.css" />
    </head>
    <body>
        <!-- Page wrapper -->
        <div class="page-wrapper">
            <!-- Content wrapper with static navbars -->
            <div class="content-wrapper">
                <!-- Static navbar -->
                <nav class="navbar">
                    <!-- Navbar content with toggle sidebar button -->
                    <div class="navbar-content">
                        <button class="btn btn-action" type="button">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <span class="sr-only">Toggle sidebar</span>
                            <!-- sr-only = show only on screen readers -->
                        </button>
                    </div>
                    <!-- Navbar brand -->
                    <a href="/" class="navbar-brand">
                        <img src="{{ metadata.icon }}" alt="..." />
                        {{ metadata.title }}
                    </a>
                    <!-- Navbar content with sign up button -->
                    <div class="navbar-content ml-auto">
                        <!-- ml-auto = margin-left: auto -->
                      <button class="btn btn-primary" type="button" onclick="toggleDemo()"><i class="fa fa-moon-o" aria-hidden="true"></i></button>
                    </div>
                </nav>

                <!-- Content -->
                <div class="container-fluid">
                    {{ content | safe }}
                </div>

                <!-- Static bottom navbar -->
                <nav class="navbar navbar-static-bottom">
                    <ul class="navbar-nav ml-auto">
                        <!-- ml-auto = margin-left: auto -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <!-- Navbar text -->
                    <span class="navbar-text">
                        &copy; Brand, All rights reserved
                    </span>
                </nav>
            </div>
        </div>
    </body>
    <footer>
        <script src="js/script.js"></script>
        <script type="text/javascript">
  // Dark mode toggle demo
  function toggleDemo() {
    halfmoon.toggleDarkMode();
  }
</script>
    </footer>
</html>
