<!DOCTYPE html>
<html>
    <head>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="HandheldFriendly" content="true" />
        <!-- Require external JS files -->
        <script src="/js/halfmoon.js"></script>
        <!-- Require external CSS files -->
        <link rel="stylesheet" href="/css/halfmoon.css" />
    </head>
    <body>
        <!-- Page wrapper -->
        <div class="page-wrapper">
            <!-- Content wrapper with static navbars -->
            <div class="content-wrapper">
                <!-- Static navbar -->
                <nav class="navbar">
                    <!-- Navbar content with toggle sidebar button -->
                    <div class="navbar-content">
                       
                    </div>
                    <!-- Navbar brand -->
                    <a href="/" class="navbar-brand">
                        <img src="{{ metadata.icon }}" alt="..." />
                        {{ metadata.title }}
                    </a>
                    <!-- Navbar content with sign up button -->
                    <div class="navbar-content ml-auto">
                        <!-- ml-auto = margin-left: auto -->
                      <button class="btn btn-primary" type="button" onclick="halfmoon.toggleDarkMode();">🌙</button>
                    </div>
                </nav>

                <!-- Content -->
                <div class="container-fluid">
                    {{ content | safe }}
                </div>

                <!-- Static bottom navbar -->
                <nav class="navbar navbar-static-bottom">
                    <ul class="navbar-nav ml-auto">
                        <!-- ml-auto = margin-left: auto -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <!-- Navbar text -->
                    <span class="navbar-text">
                        &copy; <div id="year">2020</div>, {{ metadata.author }}. All rights reserved.
                    </span>
                </nav>
            </div>
        </div>
    </body>
    <footer>
        <script src="/js/script.js"></script>
  <script type="text/javascript">
  // Do halfmoon stuff
  if (halfmoon.getPreferredMode() == "light-mode") {
    // Light mode is preferred
  }
  else if (halfmoon.getPreferredMode() == "dark-mode") {
    halfmoon.toggleDarkMode();
  }
  else if (halfmoon.getPreferredMode() == "not-set") {
    halfmoon.toggleDarkMode();
  }
</script>
    </footer>
</html>
